<div class="bg-dark">
  <h1 style="color: white; padding-left: 40px">{{ districts[0].name }}</h1>
  <div class="row" style="padding: 20px; justify-content: center">
    <div
      class="card bg-dark"
      style="width: 500px; margin: 10px; margin-right: 20px"
    >
      <div class="card-body">
        <p class="card-text" style="color: rgb(255, 255, 255); padding-top: 30px">
          {{ districts[0].content}}
        </p>
        <span>
          <a>
            <h6
              style="
                align-items: center;
                text-align: center;
                padding: 7px;
                border-radius: 40px;
                width: 100px;
                height: 600px;
                justify-content: baseline;
              ">
            </h6>
          </a>
        </span>
      </div>
    </div>
    <div
      class="card bg-secondary"
      style="width: 500px; height: 30px; margin: 100px;"
    >
      <img
        style=" filter: drop-shadow(0px 10px 4px rgb(8, 8, 8))"
        src="{{ districts[0].img }}"
        class="img-fluid"
        alt="..." border-radius="20px"
      />

    </div>

  </div>

</div>
